body {
  font-family: "Praise", cursive;
}
#thegoldencompass {
  background-color: black;
}
#venom {
  background-color: red;
}
#thegoldencompass1 {
  background-color: black;
}
#thegoldencompass2 {
  background-color: black;
}
#venom1 {
  background-color: red;
}
#venom2 {
  background-color: red;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
}
